/* Galería con GRID */
@import "_mixins";

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: blueviolet;
    border-radius: 4px;
    transition: transfrom 0.3s ease-in-out;

    border: solid 1px rgb(218, 118, 53);
    font-size: 60px;
    background: cover;

    &:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

@media (min-width: 600px) {
    .dos-columas {
        grid-column: span 2;
    }

    .dos-filas {
        grid-row: span 2;
    }

    .tres-columnas {
        grid-row: span 3;
    }
}

.item1 {
    background-image: url("./assets/img/closet.png");
    background-size: cover;
}

.item2 {
    @extend .item1;
    background-image: url("./assets/img/comedor.jpg");
}

.item3 {
    @extend .item1;
    background-image: url("./assets/img/mueble2.png");
}

.item4 {
    @extend .item1;
    background-image: url("./assets/img/recamara.jpg");
}

.item5 {
    @extend .item1;
    background-image: url("./assets/img/tocador.png");
}

.item6 {
    @extend .item1;
    background-image: url("./assets/img/mueble-peces.jpg");
}

.item7 {
    @extend .item1;
    background-image: url("./assets/img/mueble3.jpg");
}

.item8 {
    @extend .item1;
    background-image: url("./assets/img/comedor2.jpg");
}

.item9 {
    @extend .item1;
    background-image: url("./assets/img/closet.png");
}

.item10 {
    @extend .item1;
    background-image: url("./assets/img/closet.png");
}

.card {
    margin: 30px 30px 10px 30px;
}

.card-body {
    background-color: $colorSecundario;

}

.card:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

/*&:hover{
    filter: opacity(0.9);
    transform: scale(1.04); 
}*/

img,
svg {
    object-fit: cover;
}

@include respond(fullScreen) {
    .img-carrusel {
        height: 600px;
    }
}