@import "_variables";

.contenedor-items {
    display: grid;
    grid-template-columns: repeat(4, 2fr); //repeat(5, 2fr)
    gap: 30px;
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
}

.item {
    border-radius: 10px;
    background-color: $colorSecundario;

    &:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    }

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;

        &:hover {
            transform: scale(1.2);
        }
    }

    figure {
        overflow: hidden;
    }
}

.info-producto {
    padding: 15px, 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;

    /*button{
        border: none;
        background: none;
        background-color: #000;
        color: #fff;
        padding: 15px 10px;
        cursor: pointer;
    }*/
}

.precio {
    font-size: 18px;
    font-weight: 900;
}