//VARIABLES  _body
$colorBackground: #f5e7d0;
$coloCafe: #4d3027;
$colorSecundario: #f3b95b;

// variables _medias
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

//Variables _navbar
$colorNavbar: #da7635;

//variables fuentes
$fuenteRaleway:'Raleway', sans-serif;

